# Agent Configuration
RELAY_HOST=YOUR_RELAY_IP
RELAY_PORT=21115
LOCAL_PORT=21116
TARGET_HOST=127.0.0.1
TARGET_PORT=19132
AUTH_KEY=changeme # Password (harus sama dengan Relay)
SESSION_TIMEOUT_MS=60000
PING_INTERVAL_MS=15000
DEBUG=false
